/PerfectShoes.AccesoADatos/nbproject/private/
/PerfectShoes.AppWeb/nbproject/private/
/PerfectShoes.AppDesktop/nbproject/private/
/PerfectShoes.EntidadesDeNegocio/nbproject/private/
/PerfectShoes.AccesoADatos/build/
/PerfectShoes.EntidadesDeNegocio/build/
/PerfectShoes.EntidadesDeNegocio/dist/
/PerfectShoes.AccesoADatos/dist/
/PerfectShoes.AppWeb/build/
